nav.navigation
  ul.navigation__list
    li.navigation__item
      a.navigation__link(href="/")
        img(src="/leap-logo.svg")

          
    li.navigation__item
      a.navigation__link(href="/") Case Studies

    li.navigation__item
      a.navigation__link(href="/about") About

    li.navigation__item
      a.navigation__link(href="https://directory.leapgroupnetwork.com/" target="_blank") Directory

    li.navigation__item
      a.navigation__link(href="https://Companies.leapgroupnetwork.com/" target="_blank") Companies

  button.navigation__easter Activate Easter Egg
