nav.navigation
  ul.navigation__list
    li.navigation__item
      a.navigation__link(href="/") Leap Group

    li.navigation__item
      a.navigation__link(href="/") Clients

    li.navigation__item
      a.navigation__link(href="/about") About

    li.navigation__item
      a.navigation__link(href="https://directory.leapgroupnetwork.com/" target="_blank") Directory

    li.navigation__item
      a.navigation__link(href="https://agencies.leapgroupnetwork.com/" target="_blank") Agencies

  button.navigation__easter Activate Easter Egg
