doctype html
html(lang="en" style="background: #181818;")
  head
    include ./partials/head

  body
    include ./partials/heatmap
    include ./partials/navigation

    include ./partials/home
    include ./partials/about
    include ./partials/case

    include ./partials/noscript
    include ./partials/analytics
